## Operators in Python

In [1]:
# Arithmetic Operators

print(5+6)
print(5-6)
print(5*6)
print(5/6)
print(5//6)
print(6%5)
print(5**6)

11
-1
30
0.8333333333333334
0
1
15625

In [2]:
# Relational Operators

print(5>6)
print(5<6)
print(5>=6)
print(5<=6)
print(5==6)
print(5!=6)

False
True
False
True
False
True

In [3]:
# Logical Operators
# AND, OR, NOT

print(True and False)
print(True or False)
print(not True)

False
True
False

In [4]:
# Bitwise Operator

print(5&6)
print(5|6)
print(~5)
print(5^6)

4
7
-6
3

In [5]:
# Assigment Operator

a=5
a+=5
print(a)

10

In [6]:
# Membership Operator
# in, not in

print('a' in 'apple')
print('a' not in 'apple')

True
False

In [7]:
# program to find the sum of three digit number entered by the

num = input("Enter a number")
sum = 0
for i in num:
    sum += int(i)
print(sum)

Enter a number
0

## If else in python

In [8]:
# login program and indentation

#email-> xyz@gmail.com
#passwod ->1234

email = input("Enter a email")
password = input("Enter a password")

if email == "xyz@gmail.com" and password == "1234":
    print("login successful")
elif email== "xyz@gmail.com":
    print("password is incorrect")
elif password == "1234":
    print("email is incorrect")
else:
    print("login failed")

Enter a email
Enter a password
login failed

In [9]:
# program of min of three numbes
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))

if a<b and a<c:
    print(a)
elif b<a and b<c:
    print(b)
else:
    print(c)

Enter a number1
Enter a number5
Enter a number8
1

In [10]:
# Menu Driven Calculator Program using if-elif else

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice = input("Enter choice(1/2/3/4):")

num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

if choice == '1':
    print(num1+num2)

elif choice == '2':
    print(num1-num2)

elif choice == '3':
    print(num1*num2)

elif choice == '4':
    print(num1/num2)

else:
    print("Invalid input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4):4
Enter first number:4
Enter second number:5
0.8

## Modules in Python

In [11]:
# math

import math

math.ceil(3.7)
math.floor(3.7)
math.pi
math.e
math.factorial(5)
math.fsum([1,2,3,4])
math.gcd(10,20)
math.lcm(10,20)
math.pow(2,3)
math.hypot(3,4)
math.degrees(math.pi/2)
math.radians(180)
math.sin(math.pi/2)
math.cos(math.pi)
math.tan(math.pi/2)
math.asin(1)
math.acos(1)
math.atan(1)
math.sinh(math.pi/2)
math.cosh(math.pi)
math.tanh(math.pi/2)
math.asinh(1)
math.acosh(1)
math.sqrt(16)

4.0

In [12]:
# keyword

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [13]:
# random
import random

random.random()
random.randint(1,10)
random.randrange(1,10,2)

7

In [14]:
# datetime

import datetime

datetime.datetime.now()
datetime.datetime.now().year
datetime.datetime.now().month
datetime.datetime.now().day
datetime.datetime.now().hour
datetime.datetime.now().minute
datetime.datetime.now().second

6

In [15]:
# To know about all modules

# help("modules")

## Loops in Python

In [16]:
# While loop

# program to print the table

num = int(input("Enter a number"))

i=1

while (i<11):
  print(num,"x",i,"=",num*i)
  i=i+1

Enter a number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [20]:
# Guessing a number game

import random
jackpot = random.randint(1,100)

guess = int(input("Guess a number"))

count = 0

win = False

while not win:
  if guess > jackpot:
    print("Too high")
    guess = int(input("Guess again"))
    count += 1
  elif guess < jackpot:
    print("Too low")
    guess = int(input("Guess again"))
    count += 1
  else:
    win = True
    print("Jackpot")

print(f"You win but take {count} chances")

Guess a number1
Too low
Guess again100
Too high
Guess again50
Too low
Guess again75
Too high
Guess again65
Too low
Guess again70
Too low
Guess again72
Jackpot
You win but take 6 chances

In [22]:
# For loop

for i in range(1,11):
  print(i)

for i in "Dubai":
  print(i)

1
2
3
4
5
6
7
8
9
10
D
u
b
a
i

In [25]:
# Program -> The Current Population of a town is 10000. The population  of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

# Initial population
current_population = 10000
rate_of_increase = 1.10  # 10% increase per year

# List to store population for each year
populations = []

# Calculate the population for each of the last 10 years
for year in range(10):
    populations.append(current_population)
    current_population /= rate_of_increase

# Print the population for each of the last 10 years
for i in range(10):
    print(f"Year {10 - i}: Population = {populations[i]:.2f}")

Year 10: Population = 10000.00
Year 9: Population = 9090.91
Year 8: Population = 8264.46
Year 7: Population = 7513.15
Year 6: Population = 6830.13
Year 5: Population = 6209.21
Year 4: Population = 5644.74
Year 3: Population = 5131.58
Year 2: Population = 4665.07
Year 1: Population = 4240.98

Year 10: Population = 10000.00
Year 9: Population = 9090.91
Year 8: Population = 8264.46
Year 7: Population = 7513.15
Year 6: Population = 6830.13
Year 5: Population = 6209.21
Year 4: Population = 5644.74
Year 3: Population = 5131.58
Year 2: Population = 4665.07
Year 1: Population = 4240.98